@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

.custom-nav{
    /*#d0daff*/
    background-image: linear-gradient(180deg, #F3F8FC 10%, #d0daff 100%) !important;
    background-size: cover;
}

.nav-link{
    padding-bottom: 10px;
    padding-top: 10px;
    /*width: 12rem !important;*/
    color: #273240;
    height: 2.9rem !important;
}

.nav-link:hover{
    color: #5A6ACF !important;
    background-color: white;
    border-radius: 8px;
    box-shadow:  0px 1px gray;
    width: 95% !important;
}
.nav-link:hover span, i{
    color: #5A6ACF;
    opacity: 100%;
}

.nav-link i{
    color: #273240;
    opacity: 60%;
}

.nav-link span{
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    color: #273240;
    opacity: 60%;
}

.especial{
    margin-left: 0.5rem !important;
}

.sidebar-heading{
    font-family: "Poppins", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #082431 !important;
    opacity: 50%;
}

#content{
    background-color: white;
}

#logoDash{
    max-width: 30%;
}

#btnSalir{
    text-align: center;
    width: 95%;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

#infoSet{
    border: solid;
    /*background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/10px 10px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/10px 10px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/10px 10px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/10px 10px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 20px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 20px) calc(100% - 4px) no-repeat,
            linear-gradient(298deg, #f0efef 0%, #78a7e5 35%, 005FDB 69%) !important;*/
    border-color: mediumblue    ;
    border-radius: 10px;
    padding: calc(2px + 0.5rem);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    min-width: 30%;
    align-items: center;
    text-align: end;
}

#btn-download{
    background-color: #E6E0E9;
    border: transparent;
}
#btn-download i{
    color: black;
}

dialog {
    font-family: "Inter", sans-serif;
    animation: fade-out 0.7s ease-out;
    border-radius: 12px;
  }
  
  dialog[open] {
    animation: fade-in 0.7s ease-out;
  }
  
  dialog[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards;
  }
  
  /* Animation keyframes */
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  
    100% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: scaleY(1);
      display: block;
    }
  
    100% {
      opacity: 0;
      transform: scaleY(0);
      display: none;
    }
  }
  
  @keyframes backdrop-fade-in {
    0% {
      background-color: rgb(0 0 0 / 0%);
    }
  
    100% {
      background-color: rgb(0 0 0 / 25%);
    }
  }