@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');

#links {
    background: rgb(205,231,252);
    background: linear-gradient(180deg, rgba(237,247,255,1) 0%, rgba(234,245,254,1) 17%, rgba(229,242,252,1) 37%, rgba(223,238,250,1) 56%, rgba(212,231,246,1) 67%, rgba(170,212,245,1) 100%);
}

#title {
    text-align: center;
    margin-top: 3rem;
}

#title p1 {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: #000;
}

#title p {
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    color: #757575;
}

#accountInfo {
    padding: calc(2px + 0.5rem);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6em;
    min-width: 542px;
    margin: auto;
}

#accountInfo label {
    color: black;
}

#accountInfo input {
    font-size: 1em;
    width: fit-content;
    min-width: 4rem;
}

#accountInfo button {
    font-size: .9em;
    width: 18rem;
}

.border-box {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1 !important;
    border-radius: 30px !important;
}

.gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
}

/* Media Queries para Responsividad */
/* Ajustes para pantallas menores a 768px (tablets y smartphones grandes) */
@media (max-width: 768px) {
    #title p1 {
        font-size: 2em;
    }
    #title p {
        font-size: 1.5em;
    }
    #accountInfo {
        font-size: 1.2em;
        min-width: 420px;
    }
    #accountInfo input {
        width: 100%;
        min-width: auto;
    }
    #accountInfo button {
        width: 14rem;
        font-size: 0.8em;
    }
}

/* Ajustes para pantallas menores a 480px (smartphones pequeños) */
@media (max-width: 480px) {
    #title {
        margin-top: 2rem;
    }
    #title p1 {
        font-size: 1.8em;
    }
    #title p {
        font-size: 1.2em;
    }
    #accountInfo {
        font-size: 1em;
        min-width: auto;
        padding: 1rem;
    }
    #accountInfo button {
        width: 12rem;
        font-size: 0.8em;
    }
    #accountInfo input {
        font-size: 0.9em;
        width: 100%;
    }
}
