@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

body{
    min-width: 860px;
}

/*Quitar las flechas de los input number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: auto;
}

#CSV{
    min-width: 280px;
}

#identifiers{
    min-width: 280px;
}

#parameters{
    padding-left: 2rem;
    padding-right: 2rem;
}


.header{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 1.22rem;
}   

.hidden{
    display: none;
}

.all{
    min-height: 90vh !important;
}

.hiper{
    overflow: auto;
    padding: 0 2em 2em 2em !important;
    height: 19rem !important;
    background-color: #FBFBFB;

    margin-top: 3rem;
    border-radius: 20px;
}

.hiper .card    {
    border-radius: 12px;
    border-color: transparent;

    padding: 10px 50px 0px 30px;
    min-height: 8em;
    max-height: 8.1em;
}

.hiper .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-template-rows: max-content;
    width: 100%;

    margin-top: 1rem;
}

.hiper .row .col{
    margin-top: 20px;
}

.hiper .row .col input[type="number"], input[type="text"]{
    border: solid;
    border-color: lightgray;

    border-radius: 5px;
    border-width: .1px;
    width: 100%;
    margin-bottom: 5%;
    height: 38px;
}

.hiper .row .col #box{
    width: 88%;
    margin-left: 6%;

    display: flex;
    flex-wrap: wrap;
}

.hiper .row .col #box > * {
    width: 50%;
}

.hiper .row #col1{
    grid-column: 1;
    grid-row: 1;
}
.hiper .row #col2{
    grid-column: 2;
    grid-row: 1;
}
.hiper .row #col3{
    grid-column: 3;
    grid-row: 1;
}


.hiper .card-body-file{
    background-color: #F8F8FF;
    border: dashed #7200cf;
}
.hiper .card-title{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 1.0rem;
}

.hiper .card-body {
    padding: 10px 0px 10px 0 !important;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.hiper input[type="range"]{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.hiper .row .col .card{
    width: 100%;
}

.form-group input{
    border: solid;
    border-color: lightgray;
}

#modelName{
    border-radius: 5px;
    border-width: .1px;
    width: 100%;
    margin-bottom: 5%;
    height: 38px;
    
}

#primeStack{
    border-radius: 5px;
    border-width: .1px;
    width: 100%;
    margin-bottom: 5%;
    height: 38px;
}

input[type=file]{
    position: absolute;
    visibility: hidden;
    z-index: -9999;
    width: 0;
}

@media(min-width: 1300px){
    .hiper{
        overflow: auto;
        padding: 0 2em 2em 2em !important;
        height: 40rem !important;
    }
}

@media (max-width: 1210px) {
    .row .card{
        width: 100%;
    }

    .hiper .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        grid-template-rows: max-content;
        width: 90%;

        margin-left: auto;
        margin-right: auto;
    }

    .hiper .row .card .card-body span{
        font-size: .8rem;
    }

    .hiper input[type="range"] {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .hiper .row #col1{
        grid-column: 1;
        grid-row: 1;
    }
    .hiper .row #col2{
        grid-column: 2;
        grid-row: 1;
    }
    .hiper .row #col3{
        grid-column: 1;
        grid-row: 2;
        margin-top: 0;
    }
    
}


@media (max-width: 1115px) {
    .hiper input[type="range"]{
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .row .card{
        width: 100%;
    }

    .hiper .row{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        width: 70%;

        margin-left: auto;
        margin-right: auto;
        min-width: 286px;
    }

    .hiper .row .card .card-body span{
        font-size: 1rem;
    }

    .hiper input[type="range"] {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .hiper .row #col1{
        grid-column: 1;
        grid-row: 1;
    }
    .hiper .row #col2{
        grid-column: 1;
        grid-row: 2;
    }
    .hiper .row #col3{
        grid-column: 1;
        grid-row: 3;
        margin-top: 10px;
    }
    
}