@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

.header{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 1.22rem;
}

.card-body-file{
    background-color: #F8F8FF;
    border: dashed #7200cf;
}
.card-title{
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    font-size: 1.0rem;
}

.hidden{
    display: none;
}

.all{
    min-height: 90vh !important;
}

.hiper{
    overflow: auto;
    padding: 2px;
    height: 18rem !important;
}

.hiper .card    {
    background-color: #FBFBFB;
    border-radius: 12px;
    border-color: transparent;
    box-shadow: 0px 2px 2px gray;
    padding: 10px 50px 0px 30px;
    min-height: 8em;
    max-height: 8.1em;
}

.form-group input{
    border: solid;
    border-color: lightgray;
}

#modelName{
    border-radius: 5px;
    border-width: .1px;
    width: 100%;
    margin-bottom: 5%;
    height: 38px;
    
}

input[type=file]{
    position: absolute;
    visibility: hidden;
    z-index: -9999;
    width: 0;
}

@media (max-width: 1300px) {
    #col3{
        margin-top: 5%;
    }

    .row .card{
        min-width: 262px;
    }
}