@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

#accountSet{
    border: solid;
    border-color: rgb(0, 0, 155)    ;
    border-radius: 10px;
    padding: calc(2px + 0.5rem);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    min-width: 440px;
    align-items: center;
    text-align: end;
}
#accountSet label{
    color: black;
    font-family: "Inter", sans-serif;
}
#accountSet .infoSet input{
    cursor: default;
    font-family: "Inter", sans-serif;
}

#accountInfo{
    padding: calc(2px + 0.5rem);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    min-width: 440px;
}
#accountInfo label{
    color: black;
}
#accountInfo input{
    cursor: default;
    width: fit-content;
    min-width: 4rem;
}

#paycheck{
    background-color: #FBFBFB;
    font-size: 1rem;
}
#paycheck label{
    color: black;
}

#presupuesto{
    text-align: center;
    font-size: 1rem;
}

#horasAlquiler{
    margin-top: 5%;
    margin-bottom: 10%;

    font-size: 1.1rem;
    background-color: white;
    text-align: center;
    width: 100%;
    border: solid;
    border-color: lightgray;
    border-radius: 5px;
    border-width: 1px;
}

#savedHours{
    color: black;
    text-align: center;
}
#savedHours .card-body input{
    text-align: center;
}

#paymentInfo .col .card{
    height: 100%;
}

.imgPlaceholder{
    min-width: 50px;
    width: 50%;
    height: auto;
}

.border {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  }

@media (min-width: 1500px){
    #paymentInfo .col{
        padding: 4%;
    }
    
    #paymentInfo{
        max-width: 1480px;
        margin-left: auto;
        margin-right: auto;
    }
}