@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');

body{
    min-width: 830px;
}

#links {
    background: rgb(205,231,252);
    background: linear-gradient(180deg, rgba(237,247,255,1) 0%, rgba(234,245,254,1) 17%, rgba(229,242,252,1) 37%, rgba(223,238,250,1) 56%, rgba(212,231,246,1) 67%, rgba(170,212,245,1) 100%);
}

#title {
    text-align: center;
    margin-top: 3rem;
}

#title p1 {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: #000;
}

#title p {
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    color: #757575;
}

#accountInfo {
    padding: calc(2px + 0.5rem);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6em;
    min-width: 676px;
    margin: auto;
}

#accountInfo label {
    color: black;
}

#accountInfo input {
    font-size: 1em;
    width: fit-content;
    min-width: 4rem;
}

#accountInfo button {
    font-size: .9em;
    width: 18rem;
}

#btnValidate{
    margin-right: 10%;
}

.border-box {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1 !important;
    border-radius: 30px !important;
}

.gupter-regular {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
}

#parameters p{
    font-size: 1.7rem;
}
.requirements li{
   list-style: none;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   margin-bottom: 10px; 
}
.requirements li i{
    width: 20px;
    font-size: 0.5rem;
    color: #aaa;
}
.requirements li span{
    margin-left: 12px;
}

.requirements li.valid i{
    font-size: 1.2rem;
    color: green;
}

.requirements li.valid span{
    color: #aaa;
}
